*{
  background-color: #fae1dd;
}

.container{
  max-width: auto;
  margin: 20px;
  min-height: 300px;
  border:1px solid #ffb4a2;
  padding: 10px;
}

.header{
  text-align: center;
  justify-content: space-between;
}

.task-header{
  display: inline-block;
  margin-left: 10px;
}

.mark-as-read{
  float: right;
  flex:1;
  border: none;
  margin: 30px;
  border-radius: 5px;
  background: #ffafcc;
  height: 30px;
  width: 60px;
  cursor: pointer;
  justify-content: flex-end;
}

.attribute{
  color: #3c096c;
}

.name{
  margin-right: 10px;
  border-radius: 5px;
  background-color: #f5cac3;
  width: 99%;
  height: 30px;
  border: 0;
  padding: 5px;
  margin-bottom: 10px;
}
.description{
  margin-right: 10px;
  border-radius: 5px;
  background-color: #f5cac3;
  width: 99%;
  height: 30px;
  border: 0;
  padding: 5px;
  margin-bottom: 10px;
}
.submitbtn {
  margin-top: 20px;
  width: 100%;
  border: 0;
  border-radius: 5px;
  background-color: #ffafcc;
  height: 35px;
}

.task-display{
  /* display: flex; */
  display: inline-block;
  flex: auto;
  justify-content: center;
  padding: 20px;
  overflow: hidden;
  width: 80%;
}

.individual-task{
  margin-top: 20px;
  border: 1px solid #ffafcc;
}

.task-heading, .task-description{
  display: flex;
  margin: 5px;
}
